<% @recipes.each do |recipe| %>
<h1> Recipe Name: <%= recipe.name %> </h1>
  <p> Ingredients: <%= recipe.ingredients %> </p>
  <p> Cook Time: <%= recipe.cook_time %> </p>

<<<<<<< HEAD
  <p><a href="/recipes/<%=recipe.id%>">View Recipe </a></p>


=======
>>>>>>> fef8e2f91f60adaad4061266e754e9837a2c6d9f
  <% end %>
