<form method="post" action="/recipes">
  <input for="name" type="text" name="name">

  <input id="ingredients" type="text" name="ingredients">

  <input  id="cook_time" type="integer" name="cook_time">

  <input type="submit" />

</form>

  
